*.log
*.pot
*.pyc
__pycache__/
logs
*.py[cod]
*$py.class
*.so
.vscode
.history
.python-version
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
tests/
cover/
*.mo
profile_default/
ipython_config.py
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/site
poetry.toml
.ruff_cache/
pyrightconfig.json
misc/
docs/
test/
